/*========= map components =========*/

.square {
  background: #fff;
  border: 1px solid #d6d6d6;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: top;
  margin: -1px;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
}

.map-wrapper {
  margin: auto;
  width: 100%;
  margin-top: 2%;
  text-align: center;
}

/*========== block types ==========*/

.water {
  background: #01FFFF;
  border: 1px solid #00d1d8
}

.wall {
  background: #B7B7B7;
  border: 1px solid #a0a0a0
}

.bold {
  background: #000;
  border: 1px solid #000
}


/*============== Form ===========*/

.form-wrapper{
  margin: auto;
  width: 50%;
  border: 1px solid #B7B7B7;
  padding: 2% 5%;
  text-align: center;
}

#walls-input {
  width: 300px;
}