/*========= map components =========*/

.row {
  clear: both;
}

.square {
  background: #fff;
  border: 1px solid #000;
  height: 40px;
  width: 40px;
  float: left;
  margin: -1px;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
}

.map-wrapper {
  margin: auto;
  width: 50%;
  padding: 2% 5%;
}

/*========== block types ==========*/

.water {
  background: #01FFFF;
}

.wall {
  background: #B7B7B7;
}

.bold {
  background: #000;
}


/*============== Form ===========*/

.form-wrapper{
  margin: auto;
  width: 50%;
  border: 1px solid #B7B7B7;
  padding: 2% 5%;
}